.our-advantages {
	@include mobile-s {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	&__body {
		display: flex;
		column-gap: 30px;
		margin-top: 70px;

		@include mobile-s-above {
			justify-content: center;
			flex-wrap: wrap;
		}

		@include mobile-s {
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			scrollbar-width: none;
		}
	}

	&__icon-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 32px;
		width: 262px;

		text-align: center;

		@include mobile-s {
			min-width: 100%;
			scroll-snap-align: center;
		}
	}

	&__icon {
		@include flex-center;
		@include square(93px);

		outline: var(--border-blue);
		outline-offset: 10px;
		border-radius: var(--border-radius-big);
		background-color: var(--color-accent);
		margin-top: 11px;
	}

	&__description {
		width: 262px;
	}
}
