.pagination {
	&__list {
		display: flex;
		align-items: center;
	}

	&__button {
		@include flex-center;
		@include square(34px);

		color: var(--color-light);
		background: none;
		border: none;

		&.is-current {
			svg {
				background-color: currentColor;
				border-radius: 50%;
			}
		}
	}
}
