body {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.28;
	color: var(--color-light);
	background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

h1,
.h1 {
	@include fluid-text(56, 32);
}

h2,
.h2 {
	@include fluid-text(36, 24);
}

h3,
.h3 {
	font-size: 22px;
}

h4,
.h4 {
	@include fluid-text(18, 16);
}
