@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #282b38;
  --color-dark-alt: #363a4d;
  --color-light: #ffffff;
  --color-accent: #89c249;
  --color-gray: #cbcbcb;
  --color-gray-alt: #a3a3a3;
  --color-gray-dark: #3a444e;
  --color-blue: #6c7188;
  --color-blue-alt: #85899c;
  --color-orange: #e58d35;
  --color-orange-dark: #b16519;
  --color-red: #e53535;
  --color-linear: linear-gradient(black, white);
  --border: 1px solid var(--color-orange);
  --border-alt: 1px solid var(--color-orange-dark);
  --border-blue: 1px solid var(--color-blue);
  --border-light: 1px solid var(--color-light);
  --border-radius: 10px;
  --border-radius-medium: 20px;
  --border-radius-big: 90px;
  --shadow: 5px 15px 40px 0 rgba(11, 24, 97, 0.32);
  --font-family: "Proxima Nova", sans-serif;
  --container-width: 1140px;
  --container-padding-x: 20px;
  --input-height: 56px;
  --button-height: 50px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 1280px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media (min-width: 1281px) {
  .visible-desktop {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (min-width: 481px) {
  .visible-mobile-s {
    display: none !important;
  }
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: clamp(32px, 3.8888888889vw, 56px);
}

h2,
.h2 {
  font-size: clamp(24px, 2.5vw, 36px);
}

h3,
.h3 {
  font-size: 22px;
}

h4,
.h4 {
  font-size: clamp(16px, 1.25vw, 18px);
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 248px;
}
@media (max-width: 767px) {
  .field {
    width: 100%;
  }
}
.field--alt {
  width: 100%;
}
.field-label {
  font-weight: 600;
}
.field-label--base {
  font-weight: 400;
}
.field-control {
  position: relative;
  height: var(--input-height);
  padding-inline: 20px;
  border-radius: var(--border-radius);
  border: none;
}
.field-control::-moz-placeholder {
  color: var(--color-gray);
}
.field-control::placeholder {
  color: var(--color-gray);
}
.field-control--textarea {
  padding-block: 18px;
  height: 147px;
  resize: none;
}
.field-control--img {
  display: none;
}
.field-placeholder {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border: 1px dashed rgba(255, 255, 255, 0.26);
  border-radius: var(--border-radius);
  width: 100%;
  height: 43px;
  margin-top: 18px;
}
.field__button {
  position: absolute;
  text-decoration: underline;
  color: var(--color-orange);
  width: -moz-max-content;
  width: max-content;
  padding-inline: 0;
  background-color: transparent;
  border: none;
  right: 0;
}
.field__button--red {
  color: var(--color-red);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  justify-content: center;
  font-weight: 600;
  color: var(--color-light);
  background-color: var(--color-orange);
  border: var(--border);
  border-radius: var(--border-radius-big);
  white-space: nowrap;
}
.button--alt {
  justify-content: space-between;
  height: 68px;
  padding-inline: 33px 17px;
}
.button--transparent {
  background-color: transparent;
}
.button--height {
  height: 68px;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 68%;
  height: 2px;
  background-color: var(--color-light);
  box-shadow: 0 -10px var(--color-light), 0 10px var(--color-light);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1;
  color: var(--color-orange-dark);
}

.header {
  padding-block: 25px;
}
@media (max-width: 1023px) {
  .header {
    padding-block: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1023px) {
  .header__inner {
    position: relative;
  }
}
.header__logo {
  width: 126px;
  height: 35px;
}
@media (max-width: 1023px) {
  .header__menu {
    position: absolute;
    top: 110%;
    width: 90%;
    display: flex;
    justify-content: center;
    z-index: 2;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 43px;
       column-gap: 43px;
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 48px;
}
.header__button {
  width: 171px;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  aspect-ratio: 1;
  position: fixed;
  top: 1rem;
  right: 1.25rem;
}
.cross-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 68%;
  height: 2px;
  background-color: var(--color-light);
  box-shadow: 0 -10px var(--color-light), 0 10px var(--color-light);
}

.mobile-overlay {
  width: 100%;
  height: 74%;
  padding: 37px 40px 60px;
  border: none;
  margin: 0;
  margin-top: 70px;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
  color: var(--color-light);
  background-color: var(--color-dark-alt);
}
.mobile-overlay__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 34px;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 39px;
  min-height: 45vh;
  font-size: 24px;
}
.mobile-overlay__button {
  width: 295px;
}

.section {
  margin-inline: 50px;
}
@media (max-width: 1440px) {
  .section {
    margin-inline: 25px;
  }
}
@media (max-width: 1280px) {
  .section {
    margin-inline: 0;
  }
}
.section--bg {
  background-color: var(--color-dark-alt);
}
@media (min-width: 768px) {
  .section--bg {
    border-radius: var(--border-radius-medium);
  }
}
.section--hidden {
  overflow: hidden;
}
.section--hidden-x {
  overflow-x: hidden;
}
.section:not(:first-child) {
  padding-block: 100px;
}
@media (max-width: 1280px) {
  .section:not(:first-child) {
    padding-block: 50px;
  }
}
@media (max-width: 1140px) {
  .section__header {
    display: flex;
    justify-content: center;
  }
}
.section__title {
  position: relative;
  text-transform: uppercase;
}
.section__title::after {
  position: absolute;
  content: "";
  width: 85px;
  height: 2px;
}
@media (max-width: 480px) {
  .section__title {
    text-align: center;
    padding-inline: 20px;
  }
}
.section__title--base {
  display: flex;
  justify-content: center;
}
.section__title--base::after {
  bottom: -19px;
  left: 50%;
  translate: -50% 0;
}
.section__title--width {
  width: 626px;
}
@media (max-width: 767px) {
  .section__title--width {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .section__title--width {
    width: 335px;
  }
}
.section__title--width::after {
  top: 70%;
}
@media (min-width: 481px) {
  .section__title--width::after {
    margin-inline: 17px;
  }
}
@media (max-width: 480px) {
  .section__title--width::after {
    top: 115%;
    left: 50%;
    translate: -50%;
  }
}
@media (min-width: 1141px) {
  .section__title--left {
    margin-top: 45px;
  }
}
.section__title--left::after {
  bottom: -19px;
  left: 0;
}
@media (max-width: 1140px) {
  .section__title--left::after {
    left: 50%;
    translate: -50%;
  }
}
.section__title--after-bg-accent::after {
  background-color: var(--color-accent);
}
.section__title--after-bg-orange::after {
  background-color: var(--color-orange);
}

.hero {
  position: relative;
  z-index: 1;
  height: auto;
}
.hero__list {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.hero__item {
  position: relative;
  scroll-snap-align: center;
  min-width: 100%;
}
.hero__body {
  padding-block: 10.2rem 14.25rem;
}
@media (max-width: 1280px) {
  .hero__body {
    padding-block: 7.5rem 10rem;
  }
}
@media (max-width: 1023px) {
  .hero__body {
    padding-block: 5rem 8rem;
  }
}
@media (max-width: 480px) {
  .hero__body {
    padding-top: 11.7rem;
  }
}
@media (max-width: 480px) {
  .hero__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hero__title {
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .hero__title {
    text-align: center;
  }
}
.hero__description {
  font-size: clamp(16px, 1.3888888889vw, 20px);
  margin-block: 8px 37px;
}
@media (max-width: 480px) {
  .hero__description {
    margin-block: 10px 18px;
    text-align: center;
  }
}
.hero__button {
  width: 293px;
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .hero__image {
    border-radius: var(--border-radius-medium);
  }
}
.hero__button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  aspect-ratio: 1;
  position: absolute;
  color: var(--color-light);
  background-color: transparent;
  border: none;
  z-index: 2;
  top: 50%;
  translate: 0 -50%;
}
@media (max-width: 1280px) {
  .hero__button-arrow {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.hero__button-arrow--left {
  right: 93%;
}
@media (max-width: 1440px) {
  .hero__button-arrow--left {
    right: 96.2%;
  }
}
.hero__button-arrow--right {
  left: 93%;
}
@media (max-width: 1440px) {
  .hero__button-arrow--right {
    left: 96.2%;
  }
}
.hero__pagination {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: 1.875rem;
}

.calculation {
  position: relative;
}
@media (max-width: 1140px) {
  .calculation {
    display: flex;
    justify-content: center;
  }
}
.calculation__body {
  position: relative;
  padding: 70px 50px 40px;
  background-color: var(--color-dark-alt);
  width: 626px;
  border-radius: var(--border-radius-medium);
  margin-top: 80px;
}
@media (max-width: 767px) {
  .calculation__body {
    padding: 52px 30px 34px;
    width: 100%;
  }
}
.calculation__step-wrapper {
  position: absolute;
  display: flex;
  -moz-column-gap: 41px;
       column-gap: 41px;
  top: -4.5%;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .calculation__step-wrapper {
    top: -3.5%;
  }
}
.calculation__step {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray);
  background-color: var(--color-dark);
  border: 2px solid var(--color-dark-alt);
  border-radius: var(--border-radius-big);
}
.calculation__step.is-current {
  color: var(--color-light);
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
}
.calculation__form-group {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.calculation__form-item {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  .calculation__form-item {
    flex-direction: column;
    row-gap: 20px;
  }
}
.calculation__form-checkbox-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  width: 248px;
}
@media (min-width: 768px) {
  .calculation__form-checkbox-wrapper {
    margin-top: 20px;
  }
}
.calculation__form-checkbox {
  display: flex;
  align-items: center;
}
.calculation__form-checkbox-control {
  width: 24px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: 4px;
}
.calculation__form-checkbox-control:checked::after {
  content: "✔";
}
.calculation__form-checkbox-label {
  font-weight: 600;
}
.calculation__button-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .calculation__button-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
}
.calculation__button {
  width: 253px;
}
.calculation__button--min {
  width: 138px;
}
@media (max-width: 480px) {
  .calculation__button--min {
    width: 253px;
  }
}
.calculation__image {
  position: absolute;
  left: 52%;
  bottom: -15%;
  width: 54.8%;
  height: auto;
}
@media (max-width: 1280px) {
  .calculation__image {
    width: 50%;
    bottom: -8%;
  }
}
@media (max-width: 1140px) {
  .calculation__image {
    display: none;
  }
}

@media (max-width: 480px) {
  .our-advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.our-advantages__body {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 70px;
}
@media (max-width: 1023px) {
  .our-advantages__body {
    margin-top: 50px;
  }
}
@media (min-width: 481px) {
  .our-advantages__body {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .our-advantages__body {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
}
.our-advantages__icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  width: 262px;
  text-align: center;
}
@media (max-width: 480px) {
  .our-advantages__icon-wrapper {
    min-width: 100%;
    scroll-snap-align: center;
  }
}
.our-advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  aspect-ratio: 1;
  outline: var(--border-blue);
  outline-offset: 10px;
  border-radius: var(--border-radius-big);
  background-color: var(--color-accent);
  margin-top: 11px;
}
.our-advantages__description {
  width: 262px;
}

.variants {
  position: relative;
}
@media (max-width: 1023px) {
  .variants__slider {
    display: flex;
    justify-content: center;
  }
}
.variants__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-top: 70px;
}
@media (max-width: 1023px) {
  .variants__list {
    width: 756px;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .variants__list {
    width: 335px;
  }
}
.variants__item {
  min-width: 360px;
  scroll-snap-align: start;
}
@media (max-width: 767px) {
  .variants__item {
    min-width: 335px;
  }
}
.variants__button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  aspect-ratio: 1;
  position: absolute;
  color: var(--color-light);
  background-color: transparent;
  border: none;
  z-index: 2;
  top: 50%;
  translate: 0 -50%;
  color: var(--color-blue);
}
@media (max-width: 1280px) {
  .variants__button-arrow {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.variants__button-arrow--left {
  right: 105%;
}
@media (max-width: 1440px) {
  .variants__button-arrow--left {
    right: 100%;
  }
}
.variants__button-arrow--right {
  left: 105%;
}
@media (max-width: 1440px) {
  .variants__button-arrow--right {
    left: 100%;
  }
}
.variants__pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.variants-card {
  max-width: 100%;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-dark-alt);
}
.variants-card__header img {
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}
.variants-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 20px 27px;
}
.variants-card__title {
  margin-bottom: 11px;
}
.variants-card__info-wrapper {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.variants-card__info {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.variants-card__info svg {
  color: var(--color-accent);
}
.variants-card__price {
  margin-block: 13px 18px;
  font-weight: 400;
}
.variants-card__price span:nth-child(1) {
  color: var(--color-gray);
}
.variants-card__price span:nth-child(2) {
  font-weight: 700;
  font-size: 45px;
}
.variants-card__button-wrapper {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.variants-card__button {
  width: 153px;
}
@media (max-width: 767px) {
  .variants-card__button {
    width: 138px;
  }
}

.services {
  position: relative;
}
@media (max-width: 1023px) {
  .services__slider {
    display: flex;
    justify-content: center;
  }
}
.services__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-top: 70px;
}
@media (max-width: 1023px) {
  .services__list {
    width: 756px;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .services__list {
    width: 335px;
  }
}
.services__item {
  min-width: 360px;
  scroll-snap-align: start;
}
@media (max-width: 767px) {
  .services__item {
    min-width: 335px;
  }
}
.services__button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  aspect-ratio: 1;
  position: absolute;
  color: var(--color-light);
  background-color: transparent;
  border: none;
  z-index: 2;
  top: 50%;
  translate: 0 -50%;
  color: var(--color-blue);
}
@media (max-width: 1280px) {
  .services__button-arrow {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.services__button-arrow--left {
  right: 105%;
}
@media (max-width: 1440px) {
  .services__button-arrow--left {
    right: 100%;
  }
}
.services__button-arrow--right {
  left: 105%;
}
@media (max-width: 1440px) {
  .services__button-arrow--right {
    left: 100%;
  }
}
.services__pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.services-card {
  position: relative;
  border-radius: var(--border-radius-medium);
  display: flex;
}
.services-card__image {
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: var(--border-radius-medium);
  height: 100%;
}
.services-card__body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 0 10px 33px 18px;
  row-gap: 13px;
  height: 482px;
  z-index: 1;
}
@media (max-width: 767px) {
  .services-card__body {
    padding-inline: 14px 13px;
  }
}
.services-card__button {
  width: 153px;
}

.about-company__body {
  display: flex;
  margin-top: 70px;
}
@media (min-width: 1024px) {
  .about-company__body {
    position: relative;
  }
}
@media (max-width: 1023px) {
  .about-company__body {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-top: 50px;
  }
}
.about-company__description {
  width: 555px;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .about-company__description {
    width: 100%;
    line-height: 1.5;
  }
}
.about-company__image-wrapper {
  width: 530px;
  aspect-ratio: 1;
  position: absolute;
  top: -49%;
  border-radius: 50%;
  background-color: var(--color-dark-alt);
}
@media (max-width: 1280px) {
  .about-company__image-wrapper {
    width: 470px;
    aspect-ratio: 1;
  }
}
@media (min-width: 1141px) {
  .about-company__image-wrapper {
    left: 52%;
  }
}
@media (max-width: 1140px) {
  .about-company__image-wrapper {
    width: 400px;
    aspect-ratio: 1;
    right: 3%;
    top: -35%;
  }
}
@media (max-width: 1023px) {
  .about-company__image-wrapper {
    position: relative;
    right: 0;
  }
}
@media (max-width: 480px) {
  .about-company__image-wrapper {
    width: 277px;
    aspect-ratio: 1;
  }
}
.about-company__image-wrapper img {
  top: -6%;
  left: -15%;
  height: auto;
  max-width: none;
  max-height: none;
  position: absolute;
}
@media (max-width: 1280px) {
  .about-company__image-wrapper img {
    width: 580px;
  }
}
@media (max-width: 1140px) {
  .about-company__image-wrapper img {
    width: 490px;
  }
}
@media (max-width: 480px) {
  .about-company__image-wrapper img {
    width: 340px;
  }
}

.pagination__list {
  display: flex;
  align-items: center;
}
.pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  aspect-ratio: 1;
  color: var(--color-light);
  background: none;
  border: none;
}
.pagination__button.is-current svg {
  background-color: currentColor;
  border-radius: 50%;
}/*# sourceMappingURL=styles.css.map */